<% 
    # if home page 
    home = current_page?('/') ? 'home' : 'not-home'

%>

<nav class="<%= home %>">
	
    <% # main logo for navbar %>
    <%= link_to image_tag("logo3.png"),  '/' %>


	<ul>
        <%= raw li 'About', '/about' %>

        <li> <%= link_to 'Our People', '#' %>
    	    <ul>
                <%= raw li 'Executive Board'   , '/exec_board' %>
                <%= raw li 'Intl Project Team', '/intl_project_team' %>
                <%= raw li 'Local Project Team', '/local_project_team' %>
                <%= raw li 'Software Team'     , '/software_team'      %>
                <%= raw li 'Alumni'            , '/alumni'             %>
                <%= raw li 'Our Partners'      , '/partners'           %>
    	    </ul>	
        </li>

	    <li> <%= link_to 'Our Projects', '#' %>
		    <ul>
                <%= raw li 'International Projects', '/projects/international' %>
                <%= raw li 'Local Projects'        , '/projects/local'         %>
                <%= raw li 'Software Projects'     , '/projects/software'      %>
                <%= raw li 'Other Projects'        , '/projects/other'         %>
            </ul>
	    </li>		

	    <li> <%= link_to 'Media', '/media' %>
		    <ul>
                <%= raw li 'Photo', '/media/photo' %>
                <%= raw li 'Video', '/media/video' %>
		    </ul>
	    </li>

	    <li><%= link_to "Events", '/events' %>
            <ul>
                <%= raw li 'Workshops', '/workshops' %>
                <%= raw li 'Lectures' , '/lectures'  %>
            </ul>
        </li>
	    
        <%= raw li 'Contacts', '/contact' %>
    </ul>
</nav>


