
<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	<div id="precontent">
	About Us
	</div>

	<div id="content" class="brown" style="height: 85%;">

		<h2 class="dark">Engineers Without Borders - USA</h2>
		<p class="dark">
			Today, more than two billion people lack access to the most basic things, such as clean drinking water, adequate sanitation, reliable passage to local markets and more. Engineers Without Borders USA (EWB-USA) is engineering change in 47 countries around the world to change this reality -- one well at a time, one bridge at a time, one community at a time.
		</p>

		<br>

		<span style="display: block; width: 100%; height: 37%;">
			<span class="left">
				<p class="dark" style="text-align: center;">
					<b style="color: #095aa6; font-size: 14pt;">Our mission:</b> 
					<br>
					EWB-USA is a nonprofit humanitarian organization established to support     <i style="color: #c2cd23; font-weight: bold;">community-driven</i> development programs worldwide through partnerships that design and implement sustainable engineering projects, while creating transformative experiences that enrich global perspectives and create responsible leaders.
				</p>
			</span>
			<span class="right">
				<p class="dark" style="text-align: center; ;">
					<b style="color: #095aa6; font-size: 14pt;">Our vision:</b> 
					<br>
					EWB-USA's vision is a world in which the communities we serve have the capacity to sustainably meet their basic human needs.
				</p>
			</span>
		</span>

		<p class="dark" style="margin: 0px 0px 30px 0px; padding: 0px 0px;">
			EWB has 7 main types of projects:
		</p>

		<span style="display: block; width: 100%; vertical-align: top;">
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-water-blue.png", :width => "75%"%>
				<p class="img"> Water Supply </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-sanitation-blue.png", :width => "75%"%>
				<p class="img"> Sanitation </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-civil-orange.png", :width => "75%"%>
				<p class="img"> Civil Works </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-structures-green.png", :width => "75%"%>
				<p class="img"> Structures </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-energy-yellow.png", :width => "75%"%>
				<p class="img"> Energy </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; text-align: center;">
				<%= image_tag "icon-agriculture-grellow.png", :width => "75%"%>
				<p class="img"> Agriculture </p>
			</span>
			<span style="width: 140px; margin: 0px 0px; float: right; text-align: center;">
				<%= image_tag "icon-infosys-red.png", :width => "75%"%>
				<p class="img"> Information Systems </p>
			</span>


		</span>
		<br>
	</div> <!-- content -->
	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px;">EWB at UCF</h2>
		<p style="padding: 0px 0px; margin: 0px 0px;">
			The UCF chapter was founded in 2007...
		</p>

		<div class="divider"></div>

		<h2 style="margin: 0px 0px 10px 0px;">Get Involved</h2>
		<p style="padding: 0px 0px; margin: 0px 0px;">
			There are many ways to get involved in Engineers Without Borders ...
		</p>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>