<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Executive Board </div>

    <div id="content">

        <%= raw mini_profile 'McKinnley', 'Workman', 'President', '2015', 'Mechanical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Joel', 'Lerant', 'Vice President', '2017', 'Mechanical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Rebecca', 'Shea', 'International Project Manager','2016', 'Mechanical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Jason', 'Balog', 'Local Project Manager','2015', 'Electrical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Matt', 'Coalson', 'Fundraising Lead', '2016', 'Mechanical Engineering' %>

        <div class="divider"></div>
     
        <%= raw mini_profile 'Summer', 'Carlson', 'PR Lead', '2016', 'Environmental Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Yuan', 'Chang', 'Treasurer', '2014', 'Evironmental Studies' %>

        <div class="divider"></div>
        
        <%= raw mini_profile 'Isabelle', 'Labbe', 'Secretary', '2017', '????? Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Natalie', 'Lopez', 'Events Manager', '2017', 'Aerospace Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Josh','Kaplan', 'Software Lead', '2014', 'Aerospace Engineering' %>      

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
