<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> International Project Team </div>

    <div id="content">

        <%= raw mini_profile 'Rebecca', 'Shea', 'Program Manager','2016', 'Mechanical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Josh', 'Kaplan', '','2014', 'Aerospace Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'McKinnley', 'Workman', '', '2015', 'Mechanical Engineering' %>

        <div class="divider"></div>
     
        <%= raw mini_profile 'Laila', 'Al-Khalaf', '', '2016', 'Environmental Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Natalie', 'Lopez', '', '2017', 'Aerospace Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Sebastien','Benoit', '', '2014', 'Aerospace Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Travis','Bird', '', '2014', 'Civil Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Tyler','Petresky', '', '2014', 'Computer Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Yuan','Chang', '', '2014', 'Environmental Studies' %>
     
    </div> <!-- content -->

    <%= render "static_pages/footer" %>

</body>
</html>
