<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Software Team </div>

    <div id="content">

        <%= raw mini_profile 'Josh','Kaplan', 'Software Lead', '2014', 'Aerospace Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'McKinnley', 'Workman', '', '2015', 'Mechanical Engineering' %>

        <div class="divider"></div>

        <%= raw mini_profile 'Tyler','Petresky', '', '2014', 'Computer Engineering' %>
     
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
    
</body>
</html>
